doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  body
    br
    .modal-dialog
      .modal-content
        // Modal Header
        .modal-header
          h4#myModalLabel.modal-title
            | Login to "The Amazing Blog"
        // Modal Body
        .modal-body
          form(role='form' method='POST' action='/view/auth/login')
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', placeholder='example@example.com' name='email', required)
            div.form-group
              label(for='password') Password:
              input#password.form-control(type='password', placeholder='password' name='password', required)
            button.btn.btn-primary(type="submit") Submit
