doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  body
    br
    div(class="pt-4")
      .modal-dialog(class="py-3")
        .modal-content(class="py-3")
          .modal-header
            h4#myModalLabel.modal-title
              | Login to "The Amazing Blog"
          .modal-body(class="py-3")
            form(role='form' method='POST' action='/view/auth/login')
              div.form-group(class="py-2")
                label(for='email' class="py-2") Email:
                input#email.form-control(type='email', placeholder='example@example.com' name='email' required)
              div.form-group(class="py-2")
                label(for='password' class="py-2") Password:
                input#password.form-control(type='password', placeholder='password' name='password' minlength="6" required)
              div.form-group(class="py-2")
                button.btn.btn-primary(type="submit") Submit
