doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  br
  br
  body
    each post in posts
      include ../layouts/posts/posts.pug
        div(class="d-flex pt-3")
          include ../layouts/posts/updatePostButton.pug
          include ../layouts/posts/deletePostButton.pug
        br
      br
    include ../layouts/posts/newPostButton.pug
    +button("location.href='/view/profile/new-post'")

