doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  br
  br
  body
    each post in posts
      include ../layouts/posts/posts.pug
        div(class="d-flex pt-3")
          include ../layouts/posts/updatePostButton.pug
          include ../layouts/posts/deletePostButton.pug
        br
      br
    div(class="d-flex justify-content-center pt-3")
      button.btn.btn-primary(class="d-flex justify-content-center" type='button'
      onclick="location.href='/view/profile/new-post'") New Post

