extends layout
block content

  body
      table.table.table-striped
        tr
          th Title
          th Content
          th User

        each post in posts
          tr
            td= post.title
            td= post.content
            td= post.user.username
