form(role='form' method='POST' action=`/view/posts/delete/${post.postId}?_method=DELETE`)
  a(type="submit" class="btn me-1 flex-grow-1 btn-danger"
  onclick="return confirm('Are you sure you want to delete this post?');") Delete post
