doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  br
  body
    h1(class="text-center py-5") Users sorted by name
    if users.length === 0
      p(id="description" class="text-center ") The are not users yet
    each user in users
      include ../layouts/profile.pug
