doctype html
html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  br
  body
    h1(class="text-center py-5") #{user.firstname}'s profile
    include ../layouts/profile/profile.pug





