html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  br
  body
    h1(class="text-center py-5") #{posts[0].user.firstname}'s posts
    if userReq.role === 'user'
      each post in posts
        include ../layouts/posts.pug
    else if userReq.role === 'admin'
      each post in posts
        include ../layouts/posts.pug
          div(class="d-flex pt-4")
            button(type="button" class="btn btn-outline-primary me-1 flex-grow-1"
            onclick=`location.href='/view/posts/update/${post.postId}'`) Edit post
            a(type="button" class="btn me-1 flex-grow-1 btn-danger"
            onclick="return confirm('Are you sure you want to delete this post?');"
            href=`/view/posts/delete/${post.postId}`) Delete post

