html(leng="en")
  include ../layouts/head.pug
  include ../layouts/navbar.pug
  +head("The amazing blog")
  br
  body
    h1(class="text-center py-5") #{posts[0].user.firstname}'s posts
    if userReq.role === 'user'
      each post in posts
        include ../layouts/posts/posts.pug
    else if userReq.role === 'admin'
      each post in posts
        include ../layouts/posts/posts.pug
          div(class="d-flex pt-3")
            include ../layouts/posts/updatePostButton.pug
            include ../layouts/posts/deletePostButton.pug
